
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
    /* background-color: black; */
    background: rgb(0, 0, 0);
  }

  *{
    margin: 0;
    padding: 0;
    /* background-color:#111111; */
  }

    /* font-family: 'Miama', sans-serif; */
 
  @font-face{
    font-family: miama;
    src: url(../fonts/Miama-Regular.ttf);
    }

.span{
    src: url(../fonts/Miama-Regular.ttf);
    font-family:Miama;
    background: #00000000;
    font-weight: 400;
}

  /* Common Shared styles */

  /* .display-flex{
    display: flex;
  } */

  .button{
    background-color: #E6533C;
    color:rgb(255, 255, 255);
    margin-right: .8rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius:2.6rem ;
    padding: 1rem 2.5rem;
    border: none;
    }
 
  .btn-a{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.1rem;
    border: none;
    padding-right: 50px;
    /* justify-content: space-evenly; */
    background-color: black;   
}

  .button-b{
    color: rgb(255, 255, 255);
    background-color: black;
    font-weight: 600;
    font-size: 1.1rem;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius:2.6rem ;
    padding: 1rem 2.5rem;  
  }

  .title-1{
     color: rgb(255, 255, 255);
     font-family: Inter;
     font-size: 3rem;
     font-weight: 900;
  }
  
  .txt-lite{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: .9rem;
    font-weight: 400;
}

  /*  navbar style starts here */

  .navbar-container{
    max-width: 75%;
    display: flex;
    margin: 3rem auto;
    justify-content: space-between;
 
 }

 .nav-menus{ 
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.4rem;
    padding: 5px;
 }

 .ham-burger{
  color:white;
  display: none;
}

  .brand{
     color: #E6533C;
     font-size: 2.2rem;
     font-weight: 800;
  }

#colored{
    background-color: #E6533C;
    color: white;
    font-size: 1.1rem;
    padding:8px 20px;
    border-radius: 20px;
    border: none;
    margin-right: 50px;
}

  /*  navbar style ends here  */

  /* banner section style starts */

  .banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
   /* background: rgba(119, 119, 119, 0); */
   background: linear-gradient(180.00deg, rgb(17, 17, 17),
   rgba(119, 119, 119, 0) 100%);
  }
  
  .ban-content{
    width: 45%;
  }

  .ban-title{ color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
text-align: left;
}
  .ban-des{
    margin-bottom: 1.8rem;
    margin-top: 1.8rem;
    line-height: 1.3rem;

  }
  .ban-img{
    margin-top: 4rem;
    width: 30%;  
    position: relative;
  }

   .play{
    margin: 1.1rem;
    scale: 200%;
    padding-left: .3rem;
   }

.plus-a{ 
  display: flex;
  box-sizing: border-box;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, .25);
  width: 10.5rem;
  height: 5rem;
  position: absolute;
  text-align:start;
  padding-top: 1rem;
  bottom: 12%;
  right: 80%;
}

#plus-a{  
    color: #FAFAF9;
    font-size: 1.5rem;
    font-weight: 900;   
}

.plus-b{ 
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, .25);
  width: 11rem;
  height: 5rem;
  position: absolute;
  text-align: center;
  padding:.5rem 0;
   top: 20%;
   left: 50%;   
}   

#plus-b{
    color: #FAFAF9;
    font-size: 2.5rem;
    font-weight: 900;
}

   /* banner section style ends */

   .habit-container{
    margin-bottom: 6rem;
   }

   .habit-title{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;  
   }

   .habit-title p{
    margin: 1rem;
   }

   .circle-sec-container{
    display: flex;
    justify-content:center ;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto;
   }

   .circle-card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   }

   .circle-card h3{   
    font-family: "Inter", sans-serif;
    letter-spacing:1px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .5rem;
   }

   .img-circle{
    border-radius: 2px solid rgb(200, 196, 196);
    border-radius: 50%;
    margin-bottom: 1rem;
   }

   /* habit section ends */

   /* Run section Style starts */

   .run-section-main{
    margin-bottom: 7rem;
    width: 75%; 
    justify-content: center;
    margin:0 auto;
    height: 300px;
   }
   
 .run-content{
  height: 17rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  background-color: #212121;
 }

 .run-text-content{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  justify-items: center;
  width: 60%;
  padding:0 2rem;
  
}

.title-run{
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
  margin-top: 2rem;
}
.run-img-container{
  display: flex;
  width: 30%;
  justify-content:flex-end;
  align-items: center;

}
  .run-img-container img{
    width: 80%;
    border-radius: 10px;  
  }
  
/* Run section Style Ends */

/* BMI Calculator Style starts */
.BMI-container{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem auto;
}
.BMI-txt{ 
  display: flex;
  flex-direction: column;
  margin-left: 9rem;
  margin-bottom: 5rem;
}
.BMI-txt p{ 
 margin-top: .8rem;
}
/* BMI Calculator Style Ends */


/* BMI Chart Style Starts */

.chart-sec-container{
  background: rgb(34, 34, 34);
}

.full-BMI-container{
  width: 75%; 
  margin:0 auto;
  display: flex;
  justify-content: center;
  gap: 5rem;
  /* margin-bottom: 4rem; */
}

.BMI-title{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.8rem 0;
 
}
/* Table styles */

table{
  border-collapse: collapse;
 
}

.grey{
/* color: gray; */
color:rgba(255, 255, 255, 0.5);
font-weight: 400;
font-size: 1rem;
padding: 1rem;
}
.wh{
color: white;
font-weight: 400;
font-size: 1.2rem;
text-align: start;
padding: 1rem;
}

.BMI-chart{
  display: flex;
  flex-direction: column;
}

/* .calculate-BMI{
  border: 3px solid blue;
 
} */

.inputs{
  margin: 2rem 0;
  color: #787b75;
  font-size: 1rem;
}

.on{
  color: #787b75;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem;
  width: 14rem;
  gap: 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  }
.kg{
  color: #787b75;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem;
  width: 13rem;
  gap: 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  }

.select1{
  color: #787b75;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem 0rem;
  width: 15rem;
  border-radius: .5rem;
  background-color: #373736;
}
.select2{
  color: #787b75;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem;
  width: 32rem;
  border-radius: .5rem;
  background-color: #373736;
}
.on, .kg{
  background-color: #373736;
}

.four{
        width: 32rem;
        display: grid;
        grid-template-columns: repeat(2, 15rem);
        grid-template-rows: repeat(2, 2rem) 3rem;
        gap: 2rem;
       
    }
    #calculate-btn{
      background-color: #E6533C;
      color:rgb(255, 255, 255);
      font-size: 1.1rem;
      font-weight: 600;
      border-radius:2rem ;
      padding: 1rem 3rem;
      border: none;
      margin-bottom: 3rem;
    }

/* BMI Chart Style Ends */

/* Teams section starts */

.team-container{
  width: 75%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.team-txt-content{ 
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 4rem 0;
  line-height: 1.5rem;
}

.team-img-container{  
  display: grid;
  gap: 1.4rem;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 1.2rem;
  background-color: #1a1a1a;
  margin-bottom: 2rem;
  padding: 1.4rem 1.4rem 1.4rem 1.7rem  ;
}
.pic{  
     position: relative;
}

.txt-lap{ position: absolute;
  bottom: 13%;
  left: 8%;
  }

.name{
  color:#FAFAF9;
  font-size: 1.3rem; 
}

.job{
  color:#acacac;
  font-size: .9rem;
}

.team-img-container img{
  border-radius: 1.2rem;
  width: 98%;
  height: 98%  

}

/* Teams section ends */

/*----------- Unique section starts------------- */

.whites-container{
  background-color: rgb(255, 255, 255);
  display: flex; 
  justify-content: center;   
  margin: 4.5rem 0 6.5rem;
}

.app-container{
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: center;
  padding: 2rem 0 3.25rem 0; 
}

.app-txt{
  padding-right: 10rem;
  display: flex;
  flex-direction: column; 
}

.tag-txt{   
  color: black;
  font-size: 1rem;
  font-family: 'Miama';
  font-weight: 600;
  line-height: 2rem;
}

.app-title{
  color: rgba(0, 0, 0, 0.861);
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 5rem;
}

.app-des{
  color: rgba(0, 0, 0, 0.9);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
  margin-bottom: 1.8rem;
  margin-top: 1rem;
}

.me{ 
  border: 3px solid gray;
  border-radius: 1rem;
  padding: .25rem;
  background-color: black;
  margin-right: 1.5rem;
}

.mob{
  margin-top: 1.8rem;
  /* margin-left:5%; */
}

/*----------- Unique section Ends -----------*/


/* Footer section */

.fullfooter{
  background-color:rgba(255, 255, 255, 0.1);
}

.footer-container{ 
  width: 75%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.footer-brand{
  color: #E6533C;
  font-size: 3.8rem;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.footer-txt-lite{ 
  color:rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: .3px;
  line-height: 1.5rem;
  
}
.foterlist{
  color: #878888;
  font-size: 1.2rem;
  list-style: none;
  margin-bottom: 3rem;

}
.foterlist li{
  margin-bottom: 1rem;
}
.title-f{ 
  margin-top: 2rem;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;

}   

.copyright{
  color: #878888;
 width: 50%;
 margin-left: 40%;
 padding: 2rem 0;
}

hr{
  color: #373736b5;
  width: 75%;
  margin-left: 12.5%;
}

  /* Responsive Media Query */
  /*................................... Small devices ...................................................*/
  @media screen and (max-width:576px){
 .ham-burger{
      color:white;
      display: block;
      align-content: center;
      scale: 150%;
  }
  .nav-menus{
    display: none;
  }

  .navbar-container{
    max-width: 90%;
    display: flex;
    margin: 3rem auto;
    justify-content: space-between;
 }
 .banner-container{ 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
 /* background: rgba(119, 119, 119, 0); */
 background: linear-gradient(45deg, rgb(17, 17, 17),
 rgba(119, 119, 119, 0) 50%);
 /* margin-left: 5%; */
}

.ban-content{
  width: 80%;
  margin-left: 1.8rem;
}

.ban-title{ color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 120%;
text-align: left;
}
.ban-des{
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
  line-height: 1.3rem;
}

/* button resposive styles */

.button{ 
 
  background-color: #E6533C;
  color:rgb(255, 255, 255);
  font-size: .8rem;
  font-weight: 600;
  border-radius: 1.4rem;
  padding: 1rem 2.5rem;
  border: none;
  }

.twobtn{
  width: 150%;
  display: flex;
  /* gap: .75rem; */
  justify-content:flex-start;
 
}

.button-b{
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-weight: 600;
  font-size: .8rem;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius:1.4rem;
  padding: 1rem 2.5rem;
  /* padding: 1rem;   */
}
.ban-img{
  margin-top: 4rem;
  width: 88%;  
  position: relative;
  margin-left: 1.5rem;
}

.play{
  margin: .9rem;
  scale: 200%;
  padding-right: .3rem;
 }

.plus-a{ 
display: flex;
box-sizing: border-box;
border-radius: .6rem;
backdrop-filter: blur(1rem);
background: rgba(48, 48, 48, 0.54);
width: 9rem;
height: 4.5rem;
position: absolute;
text-align:start;
padding-top: 1rem;
bottom: 42%;
right: 51%;
}

#plus-a{  
  color: #FAFAF9;
  font-size: 1rem;
  font-weight: 900;
  
}
.plus-b{ 
border-radius: .6rem;
backdrop-filter: blur(1rem);
background: rgba(255, 255, 255, 0.1);
width: 9rem;
height: 3.5rem;
position: absolute;
text-align: center;
padding:.5rem 0;
 top: 8%;
 left: 53%;
 
}   

#plus-b{ 
  color: #FAFAF9;
  font-size: 1.8rem;
  font-weight: 900;
  }

  .txt-lite{ 
    /* color:rgba(239, 237, 232, 0.65); */
    color:rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: .6rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    
  }

.habit-container{
  margin-bottom: 6rem;
 }

 .habit-title{
  color:
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -.1rem;
  
 }

 .habit-title p{
  font-size: .8rem;
 }

 .title-1{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2rem;
  font-weight: 900;
}

.txt-lite{
 color: rgba(255, 255, 255, 0.5);
 font-family: Inter;
 font-size: .9rem;
 font-weight: 400;
}

.circle-sec-container{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  justify-content: space-evenly;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 4rem;
 }

 .circle-card{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;

 }

 .circle-card h3{   
  font-family: "Inter", sans-serif;
  letter-spacing:1px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.8rem;
  margin-bottom: .5rem;
 }

 .img-circle{
  border-radius: 2px solid rgb(200, 196, 196);
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  
 }
 /* habit responsive  section ends */

  /*..... Run responsive section Style starts ......*/

  .run-section-main{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: rgb(34, 34, 34);
    margin-bottom: 7rem;
    width: 90%; 
    height: 34rem;
    justify-content: center;
    margin:0 auto; 
   }
   
 .run-content{
  margin-top: -1rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
 }

 .run-text-content{
  display: flex;
  flex-direction: column;
  /* gap: 1.2rem; */
  justify-content: center;
  justify-items: center;
  width: 90%;
  padding:0 2rem;  
}

.title-run{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 900;
  text-align: left;
  /* margin-top: 2rem; */
}
.run-img-container{
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content:center;
  align-items: center;
}

.run-img-container img{
  width: 100%;
  height: 80%;
  border-radius: 10px; 
}

.run-text-content #calculate-btn{
  background-color: #E6533C;
  color:rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius:2rem ;
  padding: .8rem 7rem;
  border: none;
  margin: 1rem 0;
}
/*....Run Responsive section Style Ends.... */


/*...... BMI Responsive Calculator Style starts .....*/
.BMI-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.BMI-txt{ 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: -.1rem;
  margin-bottom: .10rem;
}
.BMI-txt p{ 
 margin-top: .8rem;
 line-height: 24px;
 letter-spacing: 1px;
 text-align: left;
}

.title-1{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2rem;
  font-weight: 900;
}

.txt-lite{
 color: rgba(255, 255, 255, 0.5);
 font-family: Inter;
 font-size: .85rem;
 font-weight: 400;
}

/*...... BMI Responsive Calculator Style Ends .......*/

* BMI Calculator Style Ends */


/*.......... BMI Responsive Chart Style Starts...........*/ 

.chart-sec-container{
  background: rgb(34, 34, 34);
}

.full-BMI-container{
  width: 90%; 
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.BMI-title{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1.8rem 0;
 
}
/* Table styles */

table{
  border-collapse: collapse;
}

.grey{
/* color: gray; */
color:rgba(255, 255, 255, 0.5);
font-weight: 400;
font-size: .8rem;
padding: 1rem;
}
.wh{
color: white;
font-weight: 500;
font-size: .9rem;
text-align: start;
padding: 1rem;
}

.BMI-chart{
  display: flex;
  flex-direction: column;
}

/* ...calculate-BMI responsive style starts.....  */

.inputs{ 
/* margin: 2rem 0; */
font-size: 1rem;
color: rgba(255, 255, 255, 0.6);
font-family: Inter;
font-weight: 400;
line-height: 1.5rem;
text-align: left;
padding: 12px 0px 12px 0px;   
}

.on{
  /* color: #787b75; */
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem;
  width: 8.5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  padding: 12px 20px 12px 20px;
  }

.kg{
  color: rgba(255, 255, 255, .6);
  font-weight: 400;
  font-size: 1rem;
  width: 8rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  padding: 12px 20px 12px 20px;
  }

.select1{
  color: rgba(255, 255, 255, .6);
  font-weight: 400;
  font-size: 1rem;
  /* padding: 1rem 0rem; */
  width: 10.6rem;
  border-radius: .5rem;
  background-color:#393939;
  padding: 12px 20px 12px 20px;
}
.select2{
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 1rem;
  /* padding: 1rem; */
  width: 23.7rem;
  border-radius: .5rem;
  background-color: #393939;
  padding: 12px 20px 12px 20px;
}
.on, .kg{
  background-color:#393939;
  padding: 12px 20px 12px 20px;
  
}

.four{
        width: 22rem;
        display: grid;
        grid-template-columns: repeat(2, 11rem);
        grid-template-rows: repeat(2, 2rem) .5rem;
        gap: 2rem;
       
    }

    #calculate-btn{
      background-color: #E6533C;
      color:rgb(255, 255, 255);
      margin: 1.5rem 0;
      font-size: 1rem;
      font-weight: 500;
      border-radius:2rem;
      padding: .8rem 4rem;
 
    }

/*.......... BMI ResponsiveChart Style Ends ...........*/

/*................... Responsive Teams section starts............... */

.team-container{
  width: 90%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.team-txt-content{ 
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 4rem 0;
  line-height: 1.5rem;
}

.team-img-container{ 
  display: grid;
  gap: 1.4rem;
  grid-template-columns: repeat(1, 1fr);
  border-radius: 1.2rem;
  background-color: #1a1a1a;
  margin-bottom: 2rem;
  padding: 1.4rem ;
  /* margin-left: 1.25rem; */
}
.pic{  
     position: relative;
}

.txt-lap{ position: absolute;
  bottom: 13%;
  left: 8%;
  }

.name{
  color:#FAFAF9;
  font-size: 1.3rem; 
}

.job{
  color:#acacac;
  font-size: .9rem;
}

.team-img-container img{ 
  border-radius: 1.2rem;
  width: 98%;
  height: 98%  

}

/*..... Responsive Teams section ends..... */

/*----------- Unique section Responsive style starts------------- */

.whites-container{
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex; 
  justify-content: center;   
  padding-top: 3.5rem 0rem; 
  margin: 1.5rem 0rem; 
 
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3.25rem;
}

.app-txt{
  padding-left: 8rem;
  display: flex;
  flex-direction: column; 
}

.tag-txt{   
  color: black;
  font-family: 'Miama';
  font-size: .8rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}

.app-title{
  color: rgba(0, 0, 0, 0.861);
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 3.5rem;
}

.app-des{
  color: rgba(0, 0, 0, 0.9);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.2rem;
}

.app-btn{
  margin-top: 1.5rem;
}

.me{ border: 3px solid gray;
  border-radius: 1rem;
  padding: .25rem;
  background-color: black;
  scale: 70%;
}

.mob{
  margin-top: 1.8rem;
  padding-right:12%;
  margin-top: 2.5rem;
}


/*------- Unique section Responsive style Ends -----------*/


/*..........Responsive Footer Section Styles Starts ...........*/

.fullfooter{
  background-color:rgba(255, 255, 255, 0.1);
}

.footer-container{
  width: 90%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
.footer-brand{
  color: #E6533C;
  font-size: 4.2rem;
  font-weight: 800;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer-txt-lite{ 
      color: rgba(255, 255, 255, 0.5);
      font-family: Inter;
      font-size: .85rem;
      font-weight: 400;
      line-height: 1.5rem;
      letter-spacing: 0.2px;
/* text-align: left; */
}

.foterlist{
  color: #878888;
  font-size: 1.2rem;
  list-style: none;
  margin-bottom: .5rem;

}
.foterlist li{
  margin-bottom: .8rem;
}
.title-f{ 
  margin-top: 2rem;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}   

.copyright{
 color: #878888;
 width: 100%;
 margin-left: 5%;
 padding: 2rem 0;
 font-size: 1.15rem;
}

hr{
  color: #373736b5;
  width: 90%;
  margin-left: 5%;
}

 /*..........Responsive Footer Ends ...........*/ 
  } 
  

  /* Large Devices */
  @media screen and(min-width:993px) and(max-width:1440px){

 /* .ham-burger{
      color:white;
      display: none;
   }  */
  }

